* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #f3f3f3;
  color: #333;
  font-weight: 300; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4em;
  text-transform: uppercase; }

img {
  max-width: 100%; }

h1.marvel,
h2.marvel,
h3.marvel {
  font-family: 'Bangers', cursive; }

.section-block {
  padding-top: 40px; }

.btn.marvel {
  font-size: 0.8em;
  background-color: #e23636;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
  outline: none;
  -webkit-border-radiu: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .btn.marvel:hover {
    background-color: #9c1616; }

.modal-image {
  max-height: 300px; }

.modal-comic-description {
  text-transform: none; }

.comic-listing {
  padding: 60px 15px; }

header {
  width: 100%;
  height: 58px;
  margin-top: 20px; }
  header .logo {
    width: 20%;
    padding: 20px;
    background-color: #e23636;
    float: left; }
    header .logo .logo-image {
      height: 18px;
      float: right; }
  header #hamburgerMenu {
    padding: 20px 24px 18px;
    background-color: #e86363;
    color: white;
    border: none;
    display: none; }
  header nav {
    width: 80%;
    float: right;
    margin-left: -30px; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      header nav ul li {
        padding: 18px 0;
        float: left; }
        header nav ul li a {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          color: white;
          background-color: #e86363;
          padding: 19px 20px 20px; }
          header nav ul li a:hover, header nav ul li a:active, header nav ul li a.active {
            background-color: #e23636;
            color: white;
            text-decoration: none; }
      header nav ul:after {
        content: "";
        display: table;
        clear: both; }

.featured img {
  width: 100%;
  height: 225px;
  -webkit-border-radiu: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.featured .character-name,
.featured .comic-title {
  height: 60px;
  font-size: 1em;
  overflow: hidden; }

.contact,
.location {
  padding-top: 60px; }

.contact .text-input,
.contact .message-input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: 2px solid white;
  margin-bottom: 20px; }
  .contact .text-input:focus,
  .contact .message-input:focus {
    border: 2px solid #e23636; }

@media screen and (max-width: 900px) {
  header {
    height: 58px;
    position: relative;
    z-index: 100; }
    header .logo {
      width: auto; }
    header #hamburgerMenu {
      display: block; }
    header nav {
      width: auto;
      float: left;
      margin-left: 0; }
      header nav ul {
        width: 282px;
        padding: 20px;
        position: absolute;
        left: -300px;
        top: 38px;
        transition: all 1s ease; }
        header nav ul li {
          width: 100%;
          display: block;
          float: none;
          overflow: hidden; }
          header nav ul li a {
            padding-right: 100%; }
      header nav:hover ul {
        left: -20px; } }

@media screen and (max-width: 550px) {
  .modal-image {
    max-height: 200px; }
  .featured img {
    height: 130px; } }
