@media screen and (max-width: 900px) {

	header {
		height: 58px;
		position: relative;
		z-index: 100;

		.logo {
			width: auto;
		}

		#hamburgerMenu {
			display: block;
		}

		nav {
			width: auto;
			float: left;
			margin-left: 0;

			ul {
				width: 282px;
				padding: 20px;
				position: absolute;
				left: -300px;
				top: 38px;
				transition: all 1s ease;

				li {
					width: 100%;
					display: block;
					float: none;
					overflow: hidden;
					
					a {
						padding-right: 100%;
					}
				}
			}

			&:hover {
				ul {
					left: -20px;
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {

	.modal-image {
		max-height: 200px;
	}

	.featured {

		img {
			height: 130px;
		}
	}

}